<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Web App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" >
	<link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
	<link href= 'style/main.css' rel='stylesheet' type='text/css'>
	<link href= 'style/layout.css' rel='stylesheet' type='text/css'>
	<script src='scripts/jquery-3.0.0.min.js' type='text/javascript' ></script>
	<script src='scripts/zepto.min.js' type='text/javascript' ></script>

</head>

<body ng-app="WebApp">
	<div class= "top-left"><h2 id="first">m<sup id="num"><b>O2</b></sup></h2></div>
	

	<div class= "top-right">
		<span id="second"><b>Get free trial</b></span>
		<button class="button buy1"><b>Buy now</b></button>
	</div>

	<div class = "middle">
		<h1 id="start">Share your Files with Ease</h1>
		<h3 id= "motto">We push ourselves to new levels of inspired excellence with each <br> project and we sweat creativity </h3>	
	</div>

	<div class ="chart">
		<button class="button buy2"><b>Buy now</b><span id="divider"> | </span>&euro;23</button>
	</div>

	<div class = "objective">
		<h1 id="obj">We push ourselves to new levels of inspired excellence with each <br> project and we sweat creativity. You won't see anything until we're <br> done drolling at the result.</h1><br>
		<button class="button buy3"><b>Buy now for &euro;23</b></button>
	</div>

	<hr class="scroll">
    <div ng-controller = 'userCtrl' class="users">
		<div ng-repeat="users in user">
			 <div class= "slide">
				<img src="images/irina.jpg" id= "user-img"/>
				<h1 id= "user">{{users.message1}}</h1>
				<h1 id= "user">{{users.message2}}</h1>
				<h1 id= "user">{{users.message3}}</h1>
			    <div id= "info">
					<span id="name">{{users.name}}</span><br>
					<span id="job">{{users.job}}, {{users.team}}</span>
				</div>
			</div>
		</div>
		<div>
			<a class="btn-floating" style="color:#a6a6a6;position:absolute;left:0;" onclick="plusDivs(-1)">❮</a>
			<a class="btn-floating" style="color:#a6a6a6;position:absolute;right:0" onclick="plusDivs(1)">❯</a>
		</div>
	</div>
	<br>
	<br>
		<div class="choose-license">
			<h1 id= "license">Choose Your License</h1>
			<div id="container">
				<div class="box b1">
					<div class="text">
						<h1 class ="head">Personal</h1>
						<span id = "text">Just started using awesome Module.<br>
							Great way to boost the hard designing<br>
					    	or prototyping process.
					    </span>
					</div>
					<div>
						<hr class ="line">
						<h1 class ="planA">Free</h1>
						<span class = "small">Per month billed anually<br>
							or $250 from month to<br>
						 	month.
						</span>
					</div><button class="button p1">Get it</button>
				</div>
				<div class="box b2">
					<div class="text">
							<h1 class ="head">Agency</h1>
							<span id = "text">Also a perfect tool for creative studios<br>
							and freelancers.
						    </span>
					</div>
					<hr class ="line">
					<h1 class="plan"><sup class="sign">$</sup>123</h1>
						<span class ="small">Per month billed anually<br>
							or $250 from month to<br>
					 		month.
					 	</span>
					<button class="button p2">Buy now</button>
				</div>
				<div class="box b3">
					<div class="text">
							<h1 class ="head">Unlimited</h1>
							<span id = "text">Living in today's mobile world of<br>
							cellullar phones and mobile computers.
							</span>
					</div>
					<hr class = "line">
					<h1 class="plan"><sup class="sign">$</sup>232</h1>
						<span class = "small">Per month billed anually<br>
							or $250 from month to<br>
					 		month.
					 	</span>
					<button class="button p3">Buy now</button>
				</div>
			</div>
		</div>

		<div  ng-controller ='emailCtrl' class="join">
			<h1 id="member">Become One of Us</h1>

		<h3 id ="member1">Module 01 is big, stylish and handy UI Kit, full of <br> 
			many useful elements</h3><br>	
			<input ng-model= emailadd.email type="email" name="email" class="useremail" placeholder="E-mail Address" 
			pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$""><button class="chat">Let's chat</button> 

	 	</div>

		<div class="modal">
		  <!-- Modal content -->
		  <div class="modal-content">
		    <span class="close">×</span>
		    <form>
				  <fieldset class="account-info">
				    <label class= "name">
				      Username
				      <input type="texty"  name="username">
				    </label>
				    <label class= "pwd">
				      Password
				      <input type="password"  name="password">
				    </label>
				  </fieldset>
				  <fieldset class="account-action">
				    <input class="btn" type="submit" name="submit" value="Login">
				    <label>
				      <input type="checkbox" name="remember"> Stay signed in
				    </label>
				  </fieldset>
			</form>
		  </div>
		</div>

</body>

<footer>
	<div class="end">
		<div class="end-items">
			<img src="images/end image.jpg" align="left">
			<a href="#">Apps</a>
			<a href="#">Gadget</a>
			<a href="#">Science</a>
			<a href="#">Nature</a>
			<a href="#">Creative</a>
			<span id="logo">&copy;2016 Great Simple</span>
		</div>
	</div>


</footer>

	<script src='vendor/angular.min.js' type='text/javascript' ></script>
	<script src='scripts/app.js' type='text/javascript' ></script>
	<script src='scripts/library.js' type='text/javascript' ></script>
</html>
