/* ================================= 
  Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font: 1em/1.5 'Roboto', sans-serif;
  color: #222;
  background: #f6f7f7;
  padding-top: 145px;
  padding-bottom: 3em;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  font-size: 1.12em;
  height: 46px;
  padding-bottom: 1em;
  padding-left: 0;
  background: none;
  border: none;
  outline: 0;
  border-bottom: 4px solid #e4e4e4;
  transition: border-color .4s;
}

input ~ input {
  margin-left: 5px;
}

input:focus {
  border-color: #c1c1c1;
}

button {
  width: 40px;
  height: 35px;
  border: 0;
  background: none;
  cursor: pointer;
  outline: 0;
  position: relative;
  z-index: 2000;
}

/* ================================= 
  Page Components
==================================== */

.main-title {
  font-size: 1.4em;
  line-height: 80px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.search-form input:last-of-type {
  margin-right: -40px;
}
.search-form input:nth-of-type(1) {
  width: 65%;
}
.search-form input:nth-of-type(2) {
  width: 35%;
}
.search-form input:only-of-type {
  width: 100%;
  padding-right: 35px;
}

.search-button {
  float: right;
  margin-right: -10px;
}

.icn-search {
  font-weight: 700;
}

.icon-help {
  font-size: 6em;
  margin-bottom: 12px;
  color: #dfdfdf;
  display: block;
}

/* MOVIE LIST COMPONENTS -------- */

.no-movies  {
  color: #b0b0b0;
  height: 140px;
  margin-top: 65px;
  text-align: center;
  font-size: 1.25em;
}

.movie-list li {
  margin: 1.925em 0 0;
}

.movie-list a {
  display: block;
  margin: auto;
}

.movie-title {
  display: block;
  font-size: 1.1em;
  line-height: 1.2;
  color: #000;
  font-weight: 500;
}

.movie-year {
  color: #9d9d9d;
}

.poster-wrap {
  background-color: #fff;
  margin-bottom: .8em;
  position: relative;
}

.poster-placeholder {
  color: #dadada;
  font-size: 5em;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* ================================= 
  Layout Styles
==================================== */

.inner,
.main-content {
  width: 90%;
  max-width: 1025px;
  margin: auto;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  min-height: 80px;
  z-index: 1000;
}

/* ================================= 
  Helper Classes
==================================== */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

.is-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 549px) {
  .movie-list li {
    text-align: center;
  }
  .movie-poster-large{
    height: 40vh;
    border: 2px solid #fff;
  }
  #movie-header{
    height:27em;
  }
  body{
    font: 0.8em/1.5 'Roboto', sans-serif ;
  }
  #movie-header > h2{
    font-size: initial;
  }
  #back-search{
    width: 17%;
  }
}

@media (min-width: 550px) {
  .movie-list li {
    float: left;
    width: 50%;
  }

  .movie-list .no-movies {
    float: none;
    width: 100%;
  }

  .poster-wrap {
    height: 290px;
    border: 1px solid white;
    overflow: hidden;
  }

  .movie-poster {
    width: 100%;
    min-height: 100%;
    -webkit-transition: -webkit-transform .4s ease-out;
    transition: transform .4s ease-out;
  }

  .poster-wrap:hover .movie-poster {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

 .movie-title {
    padding-right: 1.25em;
 }
  .movie-poster-large{
    height: 130%;
    border: 5px solid #fff;
  }
  #movie-header{
    height: 40vh;
  }
  #back-search{
    width: 16%;
  }
}

@media (min-width: 769px) {
  body {
    padding-top: 115px;
  }

  .main-title {
    float: left;
  }

  .search-form {
    width: 422px;
    float: right;
    margin-top: 34px;
  }

  .movie-list li {
    width: 33.333333333%;
  }
  .movie-poster-large{
    height: 163%;;
    border: 10px solid #fff;
  }
  #movie-header{
    height: 14em;
  }
  #back-search{
    width: 15%;
  }
}

@media (min-width: 769px) and (max-width: 999px) { 
  .movie-list li:nth-of-type(3n+1) {
    clear: left;
  }
  #movie-header{
    height: 13em;
  }
  .movie-poster-large{
    border: 10px solid #fff;
    height: 176%;
  }
  #back-search{
    width: 14%;
  }
}

@media (min-width: 1000px) {
  .movie-list li {
    width: 25%;
  }

  .movie-list li:nth-of-type(4n+1) {
    clear: left;
  }
  .movie-poster-large{
    border: 10px solid #fff;
    height: 190%;
  }
  #movie-header{
    height:13em;
  }
  #back-search{
    width: 13%;
  }
}

/*====================================
 Movie Description Styles
======================================*/

#back-search::before{
  content: '< ';
}

#movie-header{
  background: #49494e;
  color: #fff;
}

.movie-poster-large{
  float: left;
  position: static;
  margin-top: 33px;
  margin-right: 6px;
  margin-left: 31px;

}

#back-search{
  position: absolute;
  color: white;
  font-size: 2vh;
}

#movie-header > span{
  font-size: 85%;
}

#view-movie{
  background: #35b936;
  color: white;
  padding: 1%;
}

#movie-header > i {
  position: relative;
  margin-top: 0;
  background: grey
}