#first{
	font-size: 43px;
	color:#999999;
	font-stretch: ultra-expanded;
	font-weight: 400;
}

#second{
	font-size: 15px;
	padding-right: 25px;
	color:#a6a6a6;
}

#user{
	font-size: 1.8em;
	font-stretch: expanded;
}

.btn-floating:hover{
	cursor:pointer;
}

#name{
	color:#666666;
}

#job{
	color: #b3b3b3;
}

#user-img{
	padding: 0px 5px 0px 40px;
    float: left;

}

#divider{
	word-spacing: 2px;
	color:#e6e6e6;
	font-size: 18px;

}
.buy1{
	background-color: white;
	color: #BFBFBF;
	border: 2px solid #d9d9d9;
	height:40px;
    width:105px
}


.buy2{
	background-color: white;
    color: #a6a6a6;
    border: 2px solid #d9d9d9;
    height:55px;
    width:170px
}

.buy3{
	background-color:#70db70;
	height: 58px;
	width: 170px;
	border:none;
}

.list{
	border-top-color: #9a9898;
	border-top-width:24px;
  	border-top-style:solid;
	text-align: left;
}

.actions{
	text-align: center;
}

#motto{
	font-size: 20px;
	color:#8c8c8c;	
}

.objective{
	padding: 40px 40px 120px 40px;
}

#obj{
	font-size: 1.9em;
	color:#737373;	
}

#start{
	font-size: 2.8em;
	font-stretch: extra-expanded;
}

#second{
	font-size: 15px;
	padding-right: 25px;
	color:#a6a6a6;
}

.button{
    border-radius: 8px;
    font-size: 15px;  
}

#divider{
	word-spacing: 2px;
	color:#e6e6e6;
	font-size: 18px;

}
.buy1{
	background-color: white;
	color: #BFBFBF;
	border: 2px solid #d9d9d9;
	height:40px;
    width:105px
}

.buy2{
	background-color: white;
    color: #a6a6a6;
    border: 2px solid #d9d9d9;
    height:55px;
    width:170px
}

button.buy3{
	background-color:#70db70;
	height: 58px;
	width: 170px;
	color:white;
	border:none;
}

.list{
	border-top-color: #9a9898;
	border-top-width:24px;
  	border-top-style:solid;
	text-align: left;
}

#motto{
	font-size: 20px;
	color:#8c8c8c;	
}

.objective{
	padding: 40px 40px 120px 40px;
}

#obj{
	font-size: 1.9em;
	color:#737373;	
}

.plan,.planA{
	font-size: 300%;
	font-stretch: semi-condensed;
	text-align: left;
	margin-left: 15%;
}

.small{
	text-align: right;
	margin: 2px 10px 30px 0px ;
}

.head{
	font-size:210%;
	font-family: Arial;
	font-stretch: semi-condensed;
	margin-top: 50px;

}
.text{
	max-height: 90px;
	margin-bottom: 50px;
}

#text{
	font-size: 100%;
	font-family: Arial;
	font-stretch: semi-condensed;
	margin-bottom: 10px;
}

.planA{
	color:green;

}


div.choose-license{
	width: 100%;
	height: 700px;
	background-color: #f2f2f2;
}
#license, #member{
	font-size: 3.2em;
	font-stretch: semi-condensed;
}

#license{
	padding:100px 60px 30px 20px;
}

#member{
	padding:80px 60px 0px 20px;
}

div.users{
	display: block;
	width: 90%;
	padding: 80px 30px;
	height: 400px;
	text-align: initial;
	position: initial;
}

div#info{
	margin-left: 2px;
	padding: 0px 0px 0px 0px;
	float:left; 
	font-size: 17px;
	line-height: 25px;
	font-family: Arial;	
}

#user{
	font-size: 1.8em;
	font-stretch: expanded;
}

#user-img{
	padding: 0px 5px 0px 40px;
    float: left;

}
input.useremail
{
    background-image: url(../images/mail.jpg);
    background-repeat: no-repeat;
    text-indent: 50px;
}

#name{
	color:#666666;
}

#job{
	color: #b3b3b3;
}

div.end{
	padding:2px;
	background-color: #869aa2;
}

.useremail{
	height: 110%;
	width: 30%;
	font-size: 17px;
	color: #6f6f6f;
	vertical-align: top;
	border-radius: 3px 0px 0px 3px;
	display:inline-block; 
	border: 2px solid #e6e6ff; 
	font-weight:400; 
	margin:0;
	!important;
}
.useremail:focus{
	border: 2px solid red;
}

div.join{
	height: 50px;
	padding-bottom: 350px;
	text-align: center;
}

div.end-items{
	padding: 36px 15px;
	color:white;
	display: block;
}

#member1{
	font-size: 20px;
	color:#8c8c8c;	
}

.chat{
	border-radius: 4px;
    font-size: 15px; 
	background-color:#70db70;
	height: 120%;
	width: 11%;
	color:white;
	border:0px;
	border-radius:0px 3px 3px 0px;
	display:inline-block;
    border-width:0px 0px 0px 1px;
    margin:0;
}

#logo{
	float: right;
	margin-right: 12px; 
	color: #d9d9d9;
	font-family: Arial;
	font-size: 14px;
}
#plan1{
	color:#a6a6a6;
	font-family: Arial;
	font-stretch: semi-condensed;
	font-size: 17px;
}

.box {
    background-color: white;
    width: 30%;
    display:inline-block;
    margin: 2% 3% 6% 7%;
    border-radius:5px;
    padding-right: 	10px;
    box-shadow: 3px 0px 0 rgba(0,0,0,0.06);
    border-radius: 6px;
     -webkit-animation: panel-fade-up 0.4s ease;
    -moz-animation: panel-fade-up 0.4s ease;
    animation: panel-fade-up 0.4s ease;
}
.texty {
    padding: 150px 0;
    color:#a6a6a6;
    font-weight:bold;
    text-align:center;
}


#container {
    white-space:nowrap;
    text-align:center;
    width: 75%;
}








.p1,.p2,.p3 {
	background-color:#70db70;
	height: 58px;
	width: 80%;
	color:white;
	border:none;
	margin-bottom: 30px;
}

.line{
	width:103%;
	border-top: 1px solid #a6a6a6;
	text-align: center;
	margin-left: 2px;
}

