@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://necolas.github.io/normalize.css/3.0.2/normalize.css);

body {
    background: #ECEEEF;
    text-align: center;
    margin: 100px auto;
    max-width: 462px;
    padding: 0 40px;
    font: 18px normal 'Varela Round', Helvetica, serif;
    color: #777B7E;
}

img{
    border: 0;
    width: 60%;

}

h1 {
    font-size: 20px;
    color:white;
}

#error {
    width: 100%;
    padding: 22px 0;
    background: #FFE6B2;
    color: #C5A14E;
    position: absolute;
    left: 0;
    top: 0;
}

#restaurants {
    background: #c25975;
    border-radius: 4px;
    border: 1px solid #D5DDE4;
    margin: -40px 0 0;
}

ul {
    list-style-type: none;
    padding: 0;
    background:white;
    margin: 0 0;
}

li {
    display: inline-block;
    width: 100%;
    padding: 22px 0;
    margin: 0;
    border-top: 1px solid #D5DDE4;
}

li span {
    color: #2C3238;
    float: left;
    padding:  0 40px;
}

#hud {
    position: relative;
    width: 289px;
    height: 60px;
    background: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px #888888;
    top: 100px;
    left: 85px;
    padding: 10px 0;
    display: none;
}