@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm)
{  
  /*Chrome*/
   .box:hover
    {
        outline: 3px solid #cce6ff;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Safari-Opera specific */
     .box:hover
    {
        outline: 3px solid #cce6ff;
    }
}

@-moz-document url-prefix() {
  /*Mozilla browser*/
    div.choose-license{
        height:700px;
    }
    .box:hover {
      outline: 3px solid #cce6ff;
      outline-offset: -3px;
    }
}