/* Import Fonts */

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);

/* Flexible Grid */

.container {padding: 0;}
.row {width: 100%;max-width: 1140px;min-width: 720px;margin: 0 auto;position: relative;overflow: hidden;}
.sixcol {margin-right: 3.09090%;float: left;min-height: 1px;}
.row .sixcol {width: 48.45455%;}
.row .twelvecol {width: 100%;float: left;}
.last {margin-right: 0px;}

/* Main Body Styling */

body {margin: 0;padding: 0;background: #fff;font-family: 'Roboto Condensed', sans-serif;color: #777;letter-spacing: 0px;font-size: 1.0em;}
section.top {margin-top: 60px;}
section.demo {background: #f5f5f5;padding-bottom: 20px;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;}
.content {padding: 0 20px;}

/* Text Styles */

a {color: #fb9e25; text-decoration: none;}
a:hover {color: #fb9e25;}
p {margin-bottom: 1.5em;font-weight: 300;}
h1 {font-weight: 300;font-size: 1.6em;border-bottom: 1px dashed #ccc;display: inline-block;margin: 30px 0;}
.label {color: #777;text-transform: uppercase;margin-left: 10px;font-size: 0.8em;margin-bottom: 5px;display: block;}

/* Navigation */

nav ul {padding: 0 20px;}
nav li {list-style: none;float: left; margin-right: 20px;padding: 10px;font-weight: 300;}
nav li.current {background: #f5f5f5; border: 1px solid #ccc; border-bottom: none;}
nav li.current a {color: #777; cursor: default;}

/* Mobile Grid Styles */

@media handheld, only screen and (max-width: 780px) {
body {font-size: 16px;-webkit-text-size-adjust: none;}
.row, body, .container {width: 100%;min-width: 0;margin-left: 0px;margin-right: 0px;padding-left: 0px;padding-right: 0px;}
.row .sixcol, .row .twelvecol {width: auto;float: none;margin-left: 0px;margin-right: 0px;}
}

/* 720px and below */

@media (max-width: 720px) {
.trigger, .activetrigger, .dropcontainer ul, .trigger_demo2, .activetrigger_demo2, .dropcontainer_demo2 ul {width: 100% !important;}
}