//Margin top 0

%margin-top{
  margin: 0;
}

//Width 50%
%width_50
{
  width: 50%;
}

//Display Block
%d-block{
  display: block;
}

//100% width

%width-max{
  width: 100%;
}

// Margin top 0
%margin_0{
  margin-top: 0;
}