*{
  box-sizing: border-box;
}

body{
  margin:0 auto;
  max-width: 100vw;
  border-radius: 6px 6px 0 0;
  border:2px solid $lightBlue;
}

h{
  &1 {
    @include text($l-height:41px, $color:$white,$size: 2em, $weight: 700, $f-family:(caption, $stack-sans-serif));
    @include backgroundColor($lightBlue);
    margin-top: 0;
    padding: 1%;
    text-shadow: 2px 1px $black;
  }
  &1, &2, &3{
    @include text($f-style:normal,$f-variant:normal);
  }

}

a{
   color: $concrete;
   text-decoration: none;
   word-wrap: break-word;
   font-size: 1.4em;
   /* unvisited link */
   &:link {
	    color: $lightBlue ;
	}

	/* visited link */
	&:visited {
	    color: $green;
	}

	/* mouse over link */
	&:hover {
	    color: $jody-blue;
	    text-decoration: underline;
	}

}
