.box {
    @extend %white-background;
    margin: 0% 0% 6% 4%;
    border-radius:5px;
    box-shadow: 3px 0px 0 rgba(0,0,0,0.06);
    border-radius: 6px;
    -webkit-animation: panel-fade-up 0.4s ease;
    -moz-animation: panel-fade-up 0.4s ease;
    animation: panel-fade-up 0.4s ease;
}