//Margin top

%margin-top{
	margin-top: 1%;
}


//white background

%white-background
{
	background-color: $white;
}


//break Word 
%break-word{
	word-wrap: break-word;
}

//box sizing

%box-sizing{
	 box-sizing: border-box;
}

//100% width 

%width-max{
	width: 100%;
}

// Margin top 0%
%margin_0{
	margin-top: 0%;
}