
/* Modal Content */
.modal-content, .plancontent, .buycontent {
    background-color: $white;
    padding: 1%;
    border: 2px solid #a6a6a6;
    border-radius: 7px;
    margin-top: 7%;
    @extend %box-sizing;
    max-width: 80%;
}

.modal-content{
  @include smallModalContent($width: null,$margin-left: null);
  @include mediumModalContent($width: null,$margin-left: null)
  @media only screen and #{$brk-smartphone-landscape}{
    width: 80%;
    margin-left: 13%;
  }
  @media only screen and #{$brk-smartphone-portrait}{
    width: 80%;
    margin-left: 13%;
  }
  @media only screen and #{$brk-small-screen-width}{
    width: 80%;
    margin-left: 13%;
  }
  @media only screen and #{$brk-medium-screen-width}{
    width: 80%;
    margin-left: 25%;
  }
  @media only screen and #{$brk-tablets}{
    width: 80%;
    margin-left: 25%;
  }
  @media only screen and #{$brk-desktops-laptops}{
    width: 80%;
    margin-left: 25%;
  }
  @media only screen and #{$brk-large-screen-width}{
    width: 90%;
    margin-left: 30%;
  }
  @media only screen and #{$brk-iphone4}{
    width: 80%;
    margin-left: 13%;
  }
}

/* The Modal (background) */
.modal,.planmodal,.buymodal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 25px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background-color: $black; /* Fallback color */
    background-color: rgba($black, 0.4); /* Black w/ opacity */
}

 .buycontent 
{
    margin-left: 16%;
   @media only screen and #{$brk-smartphone-landscape}{
     width: 80%;
     margin-left: 13%;
   }
   @media only screen and #{$brk-smartphone-portrait}{
     width: 80%;
     margin-left: 13%;
   }
   @media only screen and #{$brk-small-screen-width}{
     width: 80%;
     margin-left: 13%;
   }
   @media only screen and #{$brk-medium-screen-width}{
     width: 80%;
     margin-left: 25%;
   }
   @media only screen and #{$brk-tablets}{
     width: 80%;
     margin-left: 25%;
   }
   @media only screen and #{$brk-desktops-laptops}{
     width: 80%;
     margin-left: 25%;
   }
   @media only screen and #{$brk-large-screen-width}{
     width: 90%;
     margin-left: 30%;
   }
   @media only screen and #{$brk-iphone4}{
     width: 80%;
     margin-left: 13%;
   }
}
.plancontent
{
   margin-left: 10%;

}
/* The Close Button */

.close ,.planclose, .buyclose{
    color: $silver-chalice;
    font-size: 40px;
    font-weight: bold;
}

.buycontent{
  width: 70%;
  height: 80%;
  margin-top: 3%;
  border: 2px solid #ffa949;
}

.close:hover, .planclose:hover,
.buyclose:hover,.buyclose:hover,
.close:focus, .planclose:focus{
  color: $black;
  text-decoration: none;
}
