* {
	border: 0;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #fff;
	color: #333;
	font: 0.9em Arial, Helvetica, "bitstream vera sans", sans-serif;
	margin: 0;
}
 
a {
	padding: 4px 5px;
	color: #0080ff;
	text-decoration: none;
	background-color: #c0c0c0;
	box-shadow: 0 8px 13px 0 rgba(0,0,0,0.2), 0 6px 15px 0 rgba(0,0,0,0.19);
}

a:hover { 
	color: #335;
	text-decoration: none;
}

p {
	color: #111;
	text-align: justify;
	margin: 10px 0px 20px 0px;
}


h1 {
	font-size: 2.8em;
	text-align: right;
	margin: .2em 0em 1em 1em;
	letter-spacing:-2px;
	text-align:left;
	font-weight:bold;
	font-family:sans-serif;
}

h2 {
	font-size: 1.3em;
	margin-right: 200px;
    margin-left: 20px
	
}

h3 {
	text-align: center;
	font-size: 1.3em;
	margin: .2em 0 0.4em 0;
}

body {
	background: #fff;
	color: #333;
	font: 0.9em Arial, Helvetica, "bitstream vera sans", sans-serif;
	margin: 0;
	position: relative;
	float: left;
	margin: 0 auto;
	width: 800px;
}

header {
	border-bottom:1px solid black;
	position: fixed; 
	left: 0px; 
	top: 0px;
	clear: both;
	padding: 2px 0px 0px 0px;
    height: 32px;
    width: 1500px;
    background: #ddd;  
}

header div.logo {
	width: 100px;
	float: left;
	text-align: center;
}

header div.title {
	float: left;	
	text-align: center;
	letter-spacing:-2px;	
}

header h1 {
	text-align:left;
	margin: 0px 0 0 8px;
}

footer {
  border-top:1px solid black;
  position: fixed;
  bottom: 0;
  left: 0; 
  height: 30px;
  width: 1500px;
  clear: both;  
  font-size: 75%;
  background: #fff;  
  padding: 2px 2px 2px 2px;
}

footer div.left {
	width: 100px;	
	float: left;
	text-align: left;
}

footer div.status {
	float: left;	
	text-align: left;
}
input[type=text]{
	background: #fff;
	margin: 1px 2px 1px;
	border: 1px solid #444;
	padding: 3px 3px 2px;
}
