//Descriptive color variables

$white           : #fff;
$black           : #000;
$jordy-blue      : #7EA9F1;
$concrete        : #F2F2F2;
$scorpion        : #595959;
$nobel           : #B3B3B3;
$heathered-gray  : #B8B894;
$alto            : #D9D9D9;
$silver-chalice  : #A6A6A6;
$screaming-green : #66FF66;
$mercury         : #E6E6E6;
$silver          : #BFBFBF;
$pastel-green    : #70DB70;
$grey            : #8C8C8C;
$dove-grey       : #6F6F6F;
$regent-grey     : #869aa2; 
$dusty-grey		 : #999999;
$green           : #00e600;

//Functional Color Variables

$color-link-hover      : $jordy-blue;
$color-link-visted     : $alto;
$color-link-unvisted   : $heathered-gray;
$color-link 		   : $concrete;
$color-h1              : $scorpion;
$color-button          : $screaming-green;



//Fonts Stacks

$stack-arial-font : Arial;
$stack-sans-serif : sans-serif;
$stack-roboto     : 'Roboto';


//Asset Paths

$path-img     : '../images';
$path-font    : '../fonts';


//Font Type

$FontType        : Thin;

//Media Query breakpoints

$brk-smartphone-landscape : '(max-width : 360px)';
$brk-smartphone-portrait  : '(max-width : 320px)';
$brk-small-screen-width   : '(min-width: 360px) and (max-width: 545px)';

$brk-ipads-landscape      : '(min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)' ;

$brk-ipdas-portrait       : '(min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)' ;

$brk-medium-screen-width  : '(min-width: 545px) and (max-width: 768px)' ;

$brk-tablets              : '(max-width : 970px) and (min-width: 768px)' ;

$brk-desktops-laptops     : '(max-width : 1600px) and (min-width: 970px)' ;

$brk-large-screen-width   : '(min-width : 1824px)' ;

$brk-iphone4              : '(min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2)' ;


